//颜色
$menu_color: #081c24;
$footer_color:#081c24;
$c-green: #01d277;
$c-deepgreen: #01af63;
$c-dark: #081c24;
$c-white: #ffffff;
$c-light: #f8f8f8;
$c-main: #CCFFFF;
$c-gray: #471d1d;
$c-background: #f4f5f6;
$c-info: #999;
$c-span: #99a2aa;
$c-col: rgb(243, 160, 52);
//宽度
$main-width: 1260px;
$min-width: 1050px;