//颜色
$menu_color: #fafafa;
$footer_color:#f6f9fa;
$c-green: #01d277;
$c-deepgreen: #01af63;
$c-dark: #081c24;
$c-white: #ffffff;
$c-light: #f8f8f8;
$c-main: #CCFFFF;
$c-gray: #471d1d;
$c-background: #f4f5f6;
$c-info: #999;
//宽度
$main-width: 1260px;
$min-width: 1050px;